<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870718716753-hrqjad2f3ec4c0qi8ebksg4obaj0ojba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870718716753-hrqjad2f3ec4c0qi8ebksg4obaj0ojba</string>
	<key>API_KEY</key>
	<string>AIzaSyAGY-HZtVy2xQNfd5FW4hWDJp26fX_8Kqo</string>
	<key>GCM_SENDER_ID</key>
	<string>870718716753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsUp</string>
	<key>PROJECT_ID</key>
	<string>whats-up-ed304</string>
	<key>STORAGE_BUCKET</key>
	<string>whats-up-ed304.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870718716753:ios:73156cc8286e0addb27170</string>
</dict>
</plist>